@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

/* ---------------------Logo CSS-------------------------- */

.header {
    width: 100%;
    height: 70px;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 20%;
    height: 70px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    height: 70px;
    width: 100%;
}

/* ---------------------Searcher CSS-------------------------- */

.search {
    width: 30%;
    height: 70px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 80%;
    height: 40px;
    background-color: #c6c6c6;
    display: flex;
    align-items: center;
    column-gap: 30px;
    border-radius: 10px;
    overflow: hidden;
}

.search-box {
    width: 80%;
    height: 40px;
    font-size: 18px;
    text-indent: 20px;
    border: none;
    outline: none;
    background: #c6c6c6;
}

.search-icon {
    height: 20px;
    cursor: pointer;

}

/* -----------------Teams Navigation Bar CSS------------------- */

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    /* font-size: 13px; */
  }
  
  .navbar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar a:hover {
    background-color: #555;
    color: #ffcc00; 
  }
  
  .navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
  

  .navbar a::after {
    content: '';
    /* display: block; */
    width: 0;
    height: 2px;
    background: #ffcc00;
    transition: width 0.3s;
  }
  
  .navbar a:hover::after {
    width: 100%;
  }
  
  .navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
    .navbar a {
      float: none;
      width: 100%;
      text-align: center;
    }
  
    .navbar a:hover {
      background-color: #555;
      color: #ffcc00;
    }
  
    .navbar a::after {
      display: none;
    }
  }
  